.input{
    background: #fff;
    padding: 1.5em 3em;
    /* border: 1px solid green; */
    width:50%;
    margin: 1em auto;
    border-radius: 8px;
}
.input label{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.input input{
    width: 100%;
    padding: 0.3em 0.4em;
    font-size: 1.7rem;
    border: 0.4px solid rgb(66, 66, 66);
    border-radius: 4px;
    outline: none;
}