/* .user_list-container{
    background:#fff;
    width: 40%;
    margin: auto;
    padding: 1.5em 2em;
    border-radius: 8px; 
}*/
/* li{
    list-style-type: none;
    border: 1.5px solid #433e3e;
    border-radius: 2px;
    padding: 0.5em 1.2em;
    font-size: 1.3rem;
    background: #daa4a418;
} */

.users{
    background:#fff;
    width: 50%;
    margin: auto;
    padding: 1.5em 2em;
    border-radius: 8px;
}
.users ul{
    list-style: none;
  padding: 1rem;
}
.users li{
    list-style-type: none;
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.8rem;
}
